body{
    // gradient from: https://webgradients.com/?ref=producthunt
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;

    width: 300px;
    height: 300px;
}


.main-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.description-list li{
    margin: 10px 0px;
}


.btn-apply-settings{
    position: relative;

    width: 30%;
    height: 15%;
    min-height: 25px;
    min-width: 50px;

    left: 50%;
    transform: translateX(-50%);

    cursor: pointer;
}